* {
    box-sizing: border-box;
}
  
body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
}
  
a {
    text-decoration: none;
    color: #22a378;
    font-weight: bold;
    transition: color .1s;
    padding: 5px;
}
  
a:hover {
    color: #59eb34;
}
  
button {
    background-color: #096b56;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}
  
button:hover {
    background-color: #2d9756;
}
  
.post-list {
    margin: 0;
    padding: 0;
}
  
textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
textarea:focus, input:focus {
    outline: none;
    border: 1px solid #8ceb34;
}
  
textarea {
    min-width: 40%;
    min-height: 100px;
}
  
form > div {
    margin-bottom: 2%;
}
  
form label {
    display: block;
}
  
.wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
  
header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #1e330a;
}

  
main {
    flex: 1;
    padding: 2% 4%;
}

li {
    list-style-type: none;
    padding: 10px;
}
  
.btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: #2d9756;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
}
  
.btn-no-style:hover {
    background: none;
    color: #34eb7a;
}
  
.delete-post-btn {
    background-color: #737a0c;
}
  
.delete-post-btn:hover {
    background-color: #c0d123;
}
  
.post {
    line-height: 150%;
    border: solid 2px gray;
}
  
.post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
}

.post .title {
    background-color: rgba(9, 102, 22, 0.3);
    padding: 10px;
}

.meta {
    padding: 10px;
    background-color: rgba(212, 228, 215, 0.3);
}

.edit {
    padding: 10px;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}
  
.comment-form {
    padding: 20px;
    margin-bottom: 5%;
}
  
.comment {
    padding: 1%;
    margin-bottom: 1%;
}
  
.comment:nth-child(odd) {
    background-color: #ebe2d9;
}
  
.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
}

  
.new-post-form input {
    width: 300px;
}
  
.edit-post-form {
    margin-bottom: 5%;
}
  
footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
}